.html .body {
    height: 100%;
    margin: 0;
}


/*margin: top right bottom left*/
.horizontal_flex {
    height: 500px;
    align-self: center;
    display: flex;
    padding-left: var(--padd-left);
}

.vertical_flex {
    display: flex;
    flex-direction: column;
}


.information {
    color: white;
    padding-left: 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#name {
    color: white;
    font-weight: bold;
    font: 40px Arial, sans-serif;
}

#year {
    margin: 0;
    padding: 0;
    display: inline;
    color: #A0A0A0;
    font: inherit;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#duration {
    color: #A0A0A0;
}

#genres li {
    font-size: 17px;
}

.information ul li {
    display: inline;
    color: white;
    padding-right: 20px;
}

.info {
    position: relative;
    font: 20px Arial, sans-serif;
    color: white;
}


#plot {
    margin-top: 100px;
    font-weight: bold;
    font: 30px Arial, sans-serif;
    color: white;
}

#plot_text {
    margin-top: 10px;
    font: 20px Arial, sans-serif;
}

.directors {
    margin-top: auto;
    width: 100%;
    display: flex;
}

.directors > li {
    margin-right: 200px;
}

.director {
    font: 30px Arial, sans-serif;
}

.director_name {
    margin-top: 10px;
    font: 20px Arial, sans-serif;
}

.left_align {
    padding-left: var(--padd-left);
    height: 2000px;
    background: #201F1F;
}

.left_align h1 {
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;

}

#cast-info {
    padding: 0;
    margin: 0;
    display: flex;
}

#cast {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
}

#cast::-webkit-scrollbar {
    display: none;
    z-index: 1;
}

#cast {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#myscroll {
    position: relative;
    margin-top: 50px;
    width: 40%;
    height: 10px;
    background: white;
}


.person{
    position: relative;
    padding-right: 80px;
}

.person_image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-position: top 25% right 50%;
    background-size: cover;
}

.person .name {
    color:white;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.character {
    font-size: 15px;
    color: #C9C9C9;
    opacity: 75%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.grid {
    margin-left: 50px;
    font-family: Arial, serif;
    flex-grow: 1;
    grid-template-columns: auto auto auto;
    display: grid;
}

.grid-element {
    position: relative;
    color: white;
    display: grid;
}
#votes{
    display: flex;
    flex-direction: column-reverse;
}
#popularity{
    display: flex;
    flex-direction: column-reverse;
}
.grid-element h2 {
    margin: 0;
    position: relative;
    font-weight: bold;
    left: 0;
    padding: 0;
}

.grid-element .value {
    margin: 0;
    padding: 0;
    color: #C9C9C9;
    font-weight: normal;
}