.search-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 150px;
}

.horizontal_flex {
    margin-top: 40px;
    display: flex;
    height: auto;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
}


.information {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
}

#name {
    color: white;
    font-weight: bold;
    font: 60px Arial, sans-serif;
}

#year {
    margin: 0;
    padding: 0;
    display: inline;
    color: #A0A0A0;
    font: inherit;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#duration {
    color: #A0A0A0;
}
#genres ul {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid red;
}

.information ul li {
    display: inline;
    color: white;
    padding-right: 20px;
}


.info {
    position: relative;
    font: 20px Arial, sans-serif;
    color: white;
}


#plot {
    margin-top: 90px;
    font-weight: bold;
    font: 40px Arial, sans-serif;
    color: white;
    border: 1px solid #350f0f;
}

#plot_text {
    width: 1000px;
    font: 20px Arial, sans-serif;
}

.directors{
    display: flex;
    margin-top: 100px;
    width: 80%;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
}

.directors > li{
    /*border: 1px solid green;*/
    margin-right: 200px;
    margin-bottom: 50px;
}
.director{
    font: 30px Arial, sans-serif;
}
.director_name{
    margin-top: 10px;
    font: 20px Arial, sans-serif;
}
.left_align{
    padding-left: var(--padd-left);
    height: 100%;
    background:#201F1F;
}
.left_align h1{
    color:white;
    padding-top: 30px ;
    padding-bottom: 30px;
    margin: 0;

}
#cast-info{
    padding: 0;
    margin: 0;
    display: flex;
    height: 200px;
}
#cast{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: auto;
    overflow: hidden;
}
.something{
    height: 200px;
    width: 200px;
    border: 1px solid red;
}
#myscroll{
    position: relative;
    margin-top: 20px;
    width: 40%;
    height: 10px;
    background: white;
}

.person{
    position: relative;
    padding-right: 80px;
    /*border: 1px solid red;*/
    color:white;
    left: 0;
}
.person_image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-position: top 25% right 50%;
    background-size: cover;
}
.person .name{
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.person .character{
    font-size: 15px;
    color:#C9C9C9;
    opacity: 75%;
    bottom:0;
    text-align: center;
}
.grid {
    margin-left: 50px;
    font-family: Arial, serif;
    flex-grow: 1;
    grid-template-columns: auto auto auto;
    display: grid;
    grid-column-gap: 10px;
}

.grid-element {
    position: relative;
    color: white;
    display: grid;
}

.grid-element h2 {
    position: relative;
    font-weight: bold;
    left: 0;
    margin: 0;
    padding: 0;
}

.grid-element .value {
    color: #C9C9C9;
    top: 10px;
    font-weight: normal;
}