body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.navigation {
    background-color: var(--my-red);
    width: 100%;
    height: 60px;
}

.navigation ul {
    position: absolute;
    left: 50%;
    height: inherit;
    /*            border: 1px solid white;*/
    display: flex;
    justify-content: center;
}

.navigation li {
    display: flex;
    align-items: center;
    /*            border: 1px solid white;*/
    padding-right: 100px;
    color: white;
    font: 16px Arial, sans-serif;
}

.search-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    height: 150px;
}



:root {
    --my-red: #F83745;
    --my-blue: #02485E;
    --my-yellow: #FFB10A;
    --my-green: #00FF3C;
    --arial: 20px Arial, sans-serif;
}


.empty_div {
    width: 100%;
    height: 100px;
    display: flex;
}

.horizontal_flex {
    display: flex;
}

.vertical_flex {
    display: flex;
    flex-direction: column;
}


.information {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    /*border: 1px solid greenyellow;*/
}

#name {
    color: white;
    font-weight: bold;
    font: 60px Arial, sans-serif;
    /*border: 1px solid red;*/
}

#year {
    margin: 0;
    padding: 0;
    display: inline;
    color: #A0A0A0;
    font: inherit;
    font-weight: normal;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


#duration {
    color: #A0A0A0;
}
#genres ul {
    margin-top: 0;
    /*border: 1px solid red;*/
    font-size: 20px;
}

.information ul li {
    display: inline;
    color: white;
    padding-right: 20px;
}


.info {
    position: relative;
    font: 20px Arial, sans-serif;
    color: white;
}


#plot {
    margin-top: 100px;
    font-weight: bold;
    font: 40px Arial, sans-serif;
    color: white;
}

#plot_text {
    width: 1000px;
    font: 20px Arial, sans-serif;
}

.director{
    margin-top: 100px;
    font: 30px Arial, sans-serif;
}
.director_name{
    margin-top: 10px;
    font: 20px Arial, sans-serif;
}
.actor {
    margin-top: 10px;
    display: flex;
}

.actor > .photo {
    width: 35px;
    height: 35px;
    /*background-image: url(images/Franco%20Zeffirelli.jpg);*/
    background-size: cover;
    background-position: center;
    border: 2px solid #707070;
    border-radius: 25px;
}

.actor > .name {
    font: 20px Arial, sans-serif;
    margin-left: 10px;
    align-self: center;
    color: white;
}

#cast_text {
    margin-top: 40px;
}

