appdirs==1.4.4
asgiref==3.3.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
crayons==0.4.0
cssselect==1.1.0
Django==2.0.7
EasyProcess==0.3
entrypoint2==0.2.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
filelock==3.0.12
free-proxy==1.0.2
idna==2.10
importlib-metadata==3.1.1
jdcal==1.4.1
lxml==4.6.2
MouseInfo==0.1.3
numpy==1.19.4
openpyxl==3.0.6
pandas==1.1.5
parse==1.19.0
patool==1.12
Pillow==8.1.0
py7zr==0.11.0
PyAutoGUI==0.9.52
pycryptodome==3.9.9
pyee==8.1.0
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
pyppeteer==0.2.5
pyquery==1.4.3
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
python-decouple==3.3
PyTweening==1.0.3
pytz==2020.4
pyunpack==0.2.2
random-user-agent==1.0.1
rarfile==4.0
regex==2020.11.13
requests==2.25.0
requests-file==1.5.1
requests-html==0.10.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
scraperapi-sdk==0.2.2
selenium==3.141.0
selenium-requests==1.3
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
texttable==1.6.3
tldextract==3.1.0
tqdm==4.56.0
urllib3==1.26.2
w3lib==1.22.0
websockets==8.1
zipp==3.4.0
