beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
crayons==0.4.0
EasyProcess==0.3
entrypoint2==0.2.3
idna==2.10
importlib-metadata==3.1.1
py7zr==0.11.0
pycryptodome==3.9.9
pyunpack==0.2.2
rarfile==4.0
regex==2020.11.13
requests==2.25.0
selenium==3.141.0
soupsieve==2.0.1
texttable==1.6.3
urllib3==1.26.2
zipp==3.4.0
