
.frame {
    background: rgba(12.16%, 14.12%, 24.31%,1);
    scroll-behavior: auto;
    border-top: 2px solid black;
}

h1{
    margin: 0;
    padding: 2% 0 3% 10%;
    color: white;
    font-family: Microsoft SansSerif, serif;

}
.left-align {
    padding-left: 10%;
}

