{% load cache_bust %}
{% load static %}

<head>
    <title>Title of the document</title>
    <link rel="stylesheet" href='{% static 'css/homepage.css' %}?{% cache_bust %}'>
</head>

<body>
{% include 'Reusable/navigation.html' %}

<div class="frame">
    <div class="search">Search and Preview Movies</div>
    <h1 class="welcome">Welcome to my website</h1>
    <div class="left-align">
        <p class="popular">Popular</p>
        {% include 'Reusable/movie_list.html' %}

    </div>
</div>


</body>

