{% load cache_bust %}
{% load static %}

<head>
    <title>Title of the document</title>
    <link rel="stylesheet" href='{% static 'css/homepage.css' %}?{% cache_bust %}'>
</head>
<body>
<div class="navigation">
    <ul>
        <li>Home</li>
        <li>Advanced Search</li>
        <li>Login</li>
        <li>Register</li>
    </ul>
</div>

<div class="frame">
    <div class="left-align">
        <ul id="movie list">
            {% for movie in movies %}
                <li>
                    <div class="movie">
                        <a href="/movie/{{ movie.id }}">
                            <div class="movie-image">

                                <img src="https://image.tmdb.org/t/p/w185/{{ movie.poster_path }}" alt="Thor image"
                                     width="270" height="400">
                                <div class="rectangle">
                                    <div class="number">{{ movie.rating }}</div>
                                </div>
                            </div>
                        </a>

                        <div class="info">
                            <div class="name"> {{ movie.name }}</div>
                            <div class="year"> {{ movie.get_year }}</div>
                            <div class="genres">
                                {% for genre in movie.get_genres_parsed %}
                                    <div class="genre">{{ genre }}</div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>

</div>


</body>

