body{
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.navigation{
    background-color:var(--my-red);
    width: 100%;
    height: 60px;
}
.navigation ul{
    position: absolute;
    left: 50%;
    height: inherit;
    /*            border: 1px solid white;*/
    display: flex;
    justify-content: center;
}
.navigation li{
    display: flex;
    align-items: center;

    /*            border: 1px solid white;*/
    padding-right: 100px;
    color: white;
    font: 16px Arial,sans-serif;
}
.search-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    height: 150px;
}
.frame{
    /*
    background: rgb(80,88,89);
    background: linear-gradient(90deg, rgba(80,88,89,1) 0%, rgba(13,57,71,1) 19%, rgba(38,51,59,1) 50%, rgba(15,54,70,1) 74%, rgba(13,19,20,1) 100%);
    */
    background: #0d3947;
    height: 100vh;
    border-top: 1px solid black;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
}
:root {
    --my-red:#F83745;
    --my-blue:#02485E;
    --my-yellow:#FFB10A;
    --my-green:#00FF3C;
    --arial:20px Arial,sans-serif;
}
.empty_div{
    width: 100%;
    height: 100px;
    border: 1px solid red;
    display: flex;
}
.horizontal_flex{
    display: flex;
}
.vertical_flex{
    display: flex;
    flex-direction: column;
}
#movie_photo{
    flex-direction: row;
    margin-top: 0px;
    top: 25%;
    width: 200px;
    height: 300px;
    border: 1px solid white;
    background-image: url(images/blackpearl.jpg);
    background-size: cover;
    background-position: center;
}

.information{
    margin-left: 20px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 500px;
    height: 300px;
}
.normal{
    font: 20px Arial,sans-serif;
    color:white;
}
#name{
    color: white;
    font-weight: bold;
    font: 40px Arial,sans-serif;
}
#subtext{
    color: #d9d9d9;
    font-style: oblique;
    font: 20px Arial,sans-serif;
    height: 30px;
}
#year{
    padding-left: 10px;
    display: inline;
    color: ##d9d9d9;
    font-style: oblique;
    font: 20px Arial,sans-serif;
    height: 30px;
}
ul{ 
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
li{
    display: inline;
    font: var(--arial);
    padding-right: 20px;
    color: white;
}

#available-ls{
    margin-top: 20px;
    margin-bottom: 20px;
}
#available-ls #available{
    color: var(--my-green);
}
.info{
    position: relative;
    font: 20px Arial,sans-serif;
    color: white; 
}
.param{
    font: 20px Arial,sans-serif;
    color: white; 
}
.value{
    position: absolute;
    top: 0px;
    left: 100px;
    font: 20px Arial,sans-serif;
    color: var(--my-green);
}

#plot{
    margin: 0px;
    position: relative;
    top: 110%;
    font: 25px Arial,sans-serif;
    color: white;
}
#plot_text{
    position: relative;
    margin-top: 10px;
    top: 110%;
    width: 600px;
    font: 15px Arial,sans-serif;
    color: white;
}

.yellow_text{
    position: relative;
    font: 35px Arial,sans-serif;
    color: var(--my-yellow); 
}
.actor{
    margin-top: 10px;
    display: flex;
}

.actor > .photo{
    width: 35px;
    height: 35px;
    background-image: url(images/Franco%20Zeffirelli.jpg);
    background-size: cover;
    background-position: center;
    border: 2px solid #707070;
    border-radius: 25px;
}
.actor > .name{
    font: 20px Arial,sans-serif;
    margin-left: 10px;
    align-self: center;
    color: white;
}

#cast_text{
    margin-top: 40px;  
}

